.contacts {
  padding: 85px 0 180px;
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__content {
  max-width: 438px;
  margin-right: 25px;
}