/* ______media______ */
@media (max-width: 1385px) {
  .header__menu-link {
    font-size: 14px;
  }

  .header__btn {
    margin: 0 20px;
  }

  .header__contact-phone {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0;
  }

  .footer__menu-link {
    font-size: 14px;
  }

  .footer__btn {
    margin: 0 20px;
  }

  .footer__contact-phone {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
  }
}
.test {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../images/flags/kz.svg");
}

@media (max-width: 1280px) {
  .modal__application {
    max-width: 1200px;
  }
  .modal__application-box input:not(#phone) {
    font-size: 12px;
  }
  .modal__application-box input:not(#phone)::-webkit-input-placeholder {
    font-size: 12px;
  }
  .modal__application-box input:not(#phone)::-moz-placeholder {
    font-size: 12px;
  }
  .modal__application-box input:not(#phone):-ms-input-placeholder {
    font-size: 12px;
  }
  .modal__application-box input:not(#phone)::-ms-input-placeholder {
    font-size: 12px;
  }
  .modal__application-box input:not(#phone)::placeholder {
    font-size: 12px;
  }
  .modal__application-box option::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../images/flags/kz.svg");
  }
  .modal__application-box select:not(#country) {
    font-size: 12px;
  }
  .modal__application-box input:not(#phone),
.modal__application-box select:not(#country) {
    padding-left: 40px !important;
  }
  .modal__application-comment textarea {
    padding-left: 40px;
    font-size: 12px;
  }
  .modal__application-comment textarea::-webkit-input-placeholder {
    font-size: 12px;
  }
  .modal__application-comment textarea::-moz-placeholder {
    font-size: 12px;
  }
  .modal__application-comment textarea:-ms-input-placeholder {
    font-size: 12px;
  }
  .modal__application-comment textarea::-ms-input-placeholder {
    font-size: 12px;
  }
  .modal__application-comment textarea::placeholder {
    font-size: 12px;
  }

  .modal input:not(.modal__btn, .modal__application-check) {
    font-size: 12px;
  }

  .header__content-box {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    height: 100vh;
    display: none;
  }

  .header__content-box.active {
    display: block;
  }

  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 150px 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -150%;
    height: 100vh;
    overflow-y: auto;
    z-index: 20;
    background: rgba(0, 17, 105, 0.9);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header__content.active {
    right: 0;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .header__menu-item + .header__menu-item {
    margin-left: 0;
  }

  .header__menu-item {
    margin-bottom: 40px;
  }

  .header__menu-link {
    font-size: 30px;
    line-height: 27px;
    color: #fff;
  }

  .header__btn {
    margin: 0 0 40px 0;
    padding: 25px 35px;
    font-size: 18px;
  }

  .header__contact {
    color: #fff;
  }
  .header__contact-phone {
    margin-bottom: 20px;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    z-index: 25;
  }

  .burger-line {
    background-color: #DF0C12;
    width: 50px;
    height: 7px;
    display: block;
    margin-bottom: 6px;
    -webkit-transition: opacity 0.7s;
    transition: opacity 0.7s;
  }

  .burger.burger--active .burger-line {
    opacity: 0;
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
  }
  .burger.burger--active::after {
    width: 50px;
    -webkit-transform: translateY(-20px) rotate(-135deg);
            transform: translateY(-20px) rotate(-135deg);
  }
  .burger.burger--active::before {
    -webkit-transform: translateY(6px) rotate(135deg);
            transform: translateY(6px) rotate(135deg);
  }

  .burger::before,
.burger::after {
    content: "";
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    width: 50px;
    height: 7px;
    background-color: #DF0C12;
    display: block;
    margin-bottom: 6px;
  }

  .burger::after {
    margin-bottom: 0;
    margin-left: auto;
  }
}
@media (max-width: 1150px) {
  .modal__application {
    max-width: 950px;
    padding: 50px 25px;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__menu-item + .footer__menu-item {
    margin-left: 0;
    margin-top: 5px;
  }

  .footer__social img {
    width: 30px;
    height: 30px;
  }

  .footer__contact-phone {
    margin-bottom: 10px;
  }

  .scheme__item::after {
    right: -50px;
  }

  .scheme__item-right::after {
    right: 55px;
  }
}
@media (max-width: 970px) {
  .modal__application {
    padding: 30px 20px;
  }

  .modal__application-title {
    font-size: 29px;
    padding-right: 30px;
  }

  .modal__application-box {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .modal__application-box input:not(#phone) {
    padding: 17px;
  }

  .modal__application-comment textarea {
    height: 130px;
  }

  .modal__application-comment {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }

  .modal__decor-station {
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }

  .modal__decor-stock {
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }

  .modal__thanks {
    max-width: 700px;
    padding: 45px 50px;
  }

  .modal__thanks-social {
    margin: 20px 0;
  }

  .services {
    padding: 30px 0;
  }

  .services__content {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .services__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .advantages {
    padding-top: 50px;
  }

  .advantages__inner {
    display: block;
  }

  .advantages__item + .advantages__item {
    margin-top: 30px;
  }

  .footer__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .footer__inner > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer__inner > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .footer__inner > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .footer__inner > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .scheme__inner {
    background-image: none;
    width: 100%;
    grid-row-gap: 200px;
    margin-top: 50px;
  }

  .scheme__item-right {
    right: 0;
  }
  .scheme__item-right::before {
    top: -30px;
    right: 90px;
  }
  .scheme__item-right::after {
    top: 118px;
    right: 90px;
  }
}
@media (max-width: 800px) {
  .modal__application .modal__close {
    top: 15px;
    right: 15px;
  }

  .modal__application-box {
    margin: 15px 0;
  }

  .modal__application-title {
    font-size: 25px !important;
    line-height: 30px;
  }

  .modal__application-text {
    margin-left: 15px;
  }

  .modal__application-checkbox {
    margin-left: 15px;
  }

  .modal__call {
    max-width: 600px;
    padding: 50px;
  }

  .modal__message {
    max-width: 540px;
    padding: 40px 50px 25px;
  }

  .modal__message-btn {
    margin-top: 30px;
  }

  .page__title {
    font-size: 30px;
  }

  .intro__content {
    padding-bottom: 200px;
  }

  .intro__title {
    font-size: 34px;
  }

  .header__content {
    padding: 150px 25px;
  }

  .scheme__inner {
    grid-row-gap: 200px;
  }

  .scheme__item::after {
    right: -20px;
  }

  .scheme__item-right {
    right: 200px;
  }
  .scheme__item-right::before {
    top: -40px;
    right: -41px;
    -webkit-transform: rotate(125deg);
            transform: rotate(125deg);
  }
  .scheme__item-right::after {
    top: 118px;
    right: -41px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@media (max-width: 700px) {
  .modal__application {
    max-width: 625px;
  }

  .modal__application-label {
    padding-left: 25px;
    font-size: 12px;
  }

  .modal__application-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .modal__application-checkbox {
    margin-left: 20px;
  }

  .modal__application-text {
    position: absolute;
    top: 0;
    left: 38%;
  }

  .modal__application-checkbox.checkbox-messenger:before,
.modal__application-checkbox.checkbox-email:before,
.modal__application-checkbox.checkbox-phone:before {
    display: none;
  }

  .modal__thanks {
    max-width: 500px;
    padding: 30px;
  }

  .modal__thanks-text {
    font-size: 14px;
  }

  .modal__thanks-title {
    font-size: 45px;
  }

  .page__buttons {
    bottom: 30%;
    right: 20px;
  }

  .page__buttons-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    top: 80px;
    right: -25px;
  }

  .page__buttons-message {
    margin: 10px 0;
  }

  .header__menu-link {
    font-size: 25px;
    line-height: 20px;
  }

  .scheme {
    padding: 60px 0 200px;
  }

  .scheme__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .scheme__item {
    margin-bottom: -100px;
  }
  .scheme__item:nth-child(7) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }

  .scheme__item-img {
    margin-bottom: 6px;
  }

  .scheme__item-right {
    position: inherit;
    right: 0;
    margin-top: 50px;
    margin-bottom: -170px;
  }
  .scheme__item-right::before {
    right: 50%;
    -webkit-transform: translateX(50%) rotate(90deg);
            transform: translateX(50%) rotate(90deg);
    top: -70px;
  }
  .scheme__item-right::after {
    right: 50%;
    -webkit-transform: translateX(50%) rotate(90deg);
            transform: translateX(50%) rotate(90deg);
    top: 150px;
  }

  .scheme__item-top::after {
    right: 50%;
    -webkit-transform: translateX(50%) rotate(90deg);
            transform: translateX(50%) rotate(90deg);
    top: 150px;
  }

  .scheme__item-bottom::after {
    right: 50%;
    -webkit-transform: translateX(50%) rotate(90deg);
            transform: translateX(50%) rotate(90deg);
    top: 150px;
  }
  .scheme__item-bottom:last-child::after {
    display: none;
  }
}
@media (max-width: 620px) {
  #modal__count {
    padding: 200px 0 50px;
  }

  .modal__application-title {
    font-size: 20px !important;
    line-height: 22px;
  }

  .modal__application-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 500px;
    overflow-y: scroll;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  }

  .modal__application-comment {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .modal input:not(.modal__btn, .modal__application-check) {
    padding: 17px;
  }

  .modal__application-tel .select::before {
    top: 22px;
  }
}
@media (max-width: 570px) {
  .modal__call {
    max-width: 450px;
    padding: 50px 20px;
  }
  .modal__call .modal__text {
    margin: 10px 0 15px;
  }

  .modal__call-btn {
    margin-top: 30px;
  }

  .modal__message {
    max-width: 450px;
  }

  .modal__message textarea {
    padding: 12px;
    height: 125px;
  }

  .modal__message-btn {
    margin-top: 20px;
  }

  .footer__inner {
    display: block;
  }

  .footer__logo img {
    margin-bottom: 20px;
  }

  .footer__menu-item {
    margin-bottom: 10px;
  }

  .footer__social {
    margin: 20px 0;
  }

  .intro .course {
    font-size: 18px;
  }

  .intro__content {
    padding-top: 35px;
    padding-bottom: 180px;
  }

  .page__title {
    font-size: 25px;
  }

  .rate__subtitle {
    font-size: 18px;
    margin: 10px 0;
  }

  .rate__inner {
    padding: 40px 0;
  }

  .services__subtitle {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 15px;
  }

  .rate__text,
.services__text {
    font-size: 15px;
  }

  .services__text + .services__text {
    margin-top: 10px;
  }

  .advantages {
    padding-top: 35px;
  }

  .advantages__title {
    margin-bottom: 35px;
  }

  .advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .advantages__item-title {
    margin-top: 20px;
  }
}
@media (max-width: 490px) {
  .modal__application-checkbox {
    margin-left: 15px;
  }

  .modal__application-btn {
    padding: 12px 15px;
  }

  .modal__application-label::before {
    width: 12px;
    height: 12px;
  }

  .modal__application-label::after {
    width: 8px;
    height: 7px;
  }

  .modal__application-label {
    padding-left: 15px;
  }

  .modal__message {
    padding: 30px 20px 20px;
  }

  .modal__message-btn {
    margin: 10px 0 0 0 !important;
  }

  .modal__message-title {
    font-size: 20px;
  }

  .modal__text {
    font-size: 13px;
    margin: 10px 0 20px;
  }
}
@media (max-width: 430px) {
  .modal__application-title {
    font-size: 16px !important;
    line-height: 18px !important;
  }

  .modal__message .modal__close,
.modal__call .modal__close {
    top: 10px;
    right: 10px;
  }

  .modal__message {
    max-width: 330px;
  }

  .modal__message-title {
    font-size: 15px;
  }

  .modal__text {
    font-size: 12px;
    margin: 5px 0 15px;
  }

  .modal input:not(.modal__btn, .modal__application-check),
.modal__message textarea {
    font-size: 13px;
    padding: 12px;
  }
  .modal input:not(.modal__btn, .modal__application-check)::-webkit-input-placeholder, .modal__message textarea::-webkit-input-placeholder {
    font-size: 12px;
  }
  .modal input:not(.modal__btn, .modal__application-check)::-moz-placeholder, .modal__message textarea::-moz-placeholder {
    font-size: 12px;
  }
  .modal input:not(.modal__btn, .modal__application-check):-ms-input-placeholder, .modal__message textarea:-ms-input-placeholder {
    font-size: 12px;
  }
  .modal input:not(.modal__btn, .modal__application-check)::-ms-input-placeholder, .modal__message textarea::-ms-input-placeholder {
    font-size: 12px;
  }
  .modal input:not(.modal__btn, .modal__application-check)::placeholder,
.modal__message textarea::placeholder {
    font-size: 12px;
  }

  .page__title {
    line-height: 25px;
  }

  .intro__title {
    font-size: 30px;
  }

  .intro .click__arrow {
    top: -55px;
    padding: 8px 10px;
  }

  .intro .course {
    margin-bottom: 110px;
  }

  .intro .next {
    left: 45px;
  }

  .scheme {
    padding: 40px 0 200px;
  }

  .footer__copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__copy p + p {
    margin-top: 10px;
  }
}
@media (max-width: 385px) {
  .modal__call .modal__close {
    top: 5px;
    right: 5px;
  }

  .modal__application-label {
    font-size: 10.5px;
    padding-left: 0;
  }
  .modal__application-label::after {
    top: -8px;
  }
  .modal__application-label::before {
    top: -10px;
  }

  .modal__application-text {
    top: -10px;
  }
}
@media (max-width: 320px) {
  .modal__application-label {
    font-size: 10px;
  }
}
@media (max-height: 700px) {
  #modal__count {
    padding-top: 200px;
    padding-bottom: 50px;
  }
}
@media (max-height: 890px) {
  .modal__message {
    padding: 30px 30px 10px;
  }
}